.Active-recipe {
    margin: 0 auto;
    width: 60%;
  
  .Active-recipe__img {
    height: 500px !important;
  }
  
  .Active-recipe__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
  }
  
  .Active-recipe__publisher{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .Active-recipe__publisher span {
    text-transform: none;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 5px;
  }
}